<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--Fontes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
        
    <!--CSS-->
    <link rel= "stylesheet" href= "{{ url_for('static',filename='styles/reset.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/global.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/base.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/tela3.css') }}">
</head>

<body>
    <header>
        <div class="header-wrapper">
            <a href="{{url_for('homepage')}}"><img src="{{ url_for('static', filename='assets/logo_white.svg')}}" alt="on no curso"></a>
        </div>
    </header>

    <div class="wrapper-container">
        <div class="title-container">
            <h1>Cursos Disponíveis</h1>
            <span><img src="{{ url_for('static', filename='/assets/back-arrow.svg')}}" alt=""><a href="/">Voltar</a></span>
        </div>
        <div class="cards-wrapper">
            <div class="card-container">
                {% for rows in rows %}
                <div class="card-course">{{rows.nome_curso}}</div>
                <div class="card-info-course">
                    <div class="card-infos">
                        <span>R$ {{rows.preco}} </span>
                        <span>Horário: {{rows.data}}</span>
                        <span>Certificado: {{rows.validacao}}</td></span>
                        <span>Oferecido por: {{rows.nome_facilitador}} </span>
                    </div>
                    <div class="card-footer"><a href="{{rows.link}}">{{rows.link}}</a></div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="footer-wrapper"></div>


</body>

</html>